<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3124</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/Oi-beria/Oi_acute-beria/oi-beria.alt/Erigo-beria/erigo-beria/erigo-tamura-beria/seri-beria.alt/Erigo-beria/Erigo-Tamura-beria</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Kedebideri Regular: 2024</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>cent</string>
    <string>sterling</string>
    <string>yen</string>
    <string>section</string>
    <string>copyright</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>registered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>paragraph</string>
    <string>guillemotright</string>
    <string>multiply</string>
    <string>divide</string>
    <string>florin</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>macroncomb</string>
    <string>dotaccentcmb</string>
    <string>ZWSP</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>uni2060</string>
    <string>Euro</string>
    <string>trademark</string>
    <string>minus</string>
    <string>approxequal</string>
    <string>ZWNBS</string>
    <string>Arkab-beria</string>
    <string>arkab-beria</string>
    <string>Basigna-beria</string>
    <string>basigna-beria</string>
    <string>Darbai-beria</string>
    <string>darbai-beria</string>
    <string>Eh-beria</string>
    <string>eh-beria</string>
    <string>Fitko-beria</string>
    <string>fitko-beria</string>
    <string>Goway-beria</string>
    <string>goway-beria</string>
    <string>Hirdeabo-beria</string>
    <string>hirdeabo-beria</string>
    <string>I-beria</string>
    <string>i-beria</string>
    <string>Djai-beria</string>
    <string>djai-beria</string>
    <string>Kobo-beria</string>
    <string>kobo-beria</string>
    <string>Lakko-beria</string>
    <string>lakko-beria</string>
    <string>Meri-beria</string>
    <string>meri-beria</string>
    <string>Nini-beria</string>
    <string>nini-beria</string>
    <string>Gna-beria</string>
    <string>gna-beria</string>
    <string>Ngay-beria</string>
    <string>ngay-beria</string>
    <string>Oi-beria</string>
    <string>oi-beria</string>
    <string>Pi-beria</string>
    <string>pi-beria</string>
    <string>Erigo-beria</string>
    <string>erigo-beria</string>
    <string>Erigo-Tamura-beria</string>
    <string>erigo-tamura-beria</string>
    <string>Seri-beria</string>
    <string>seri-beria</string>
    <string>Shep-beria</string>
    <string>shep-beria</string>
    <string>Tatasoue-beria</string>
    <string>tatasoue-beria</string>
    <string>Ui-beria</string>
    <string>ui-beria</string>
    <string>Wasse-beria</string>
    <string>wasse-beria</string>
    <string>Ay-beria</string>
    <string>ay-beria</string>
    <string>placeholder</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Arkab-beria</key>
    <string>u16EA0</string>
    <key>Ay-beria</key>
    <string>u16EB8</string>
    <key>Basigna-beria</key>
    <string>u16EA1</string>
    <key>Darbai-beria</key>
    <string>u16EA2</string>
    <key>Djai-beria</key>
    <string>u16EA8</string>
    <key>Eh-beria</key>
    <string>u16EA3</string>
    <key>Erigo-Tamura-beria</key>
    <string>u16EB2</string>
    <key>Erigo-beria</key>
    <string>u16EB1</string>
    <key>Fitko-beria</key>
    <string>u16EA4</string>
    <key>Gna-beria</key>
    <string>u16EAD</string>
    <key>Goway-beria</key>
    <string>u16EA5</string>
    <key>Hirdeabo-beria</key>
    <string>u16EA6</string>
    <key>I-beria</key>
    <string>u16EA7</string>
    <key>Kobo-beria</key>
    <string>u16EA9</string>
    <key>Lakko-beria</key>
    <string>u16EAA</string>
    <key>Meri-beria</key>
    <string>u16EAB</string>
    <key>Ngay-beria</key>
    <string>u16EAE</string>
    <key>Nini-beria</key>
    <string>u16EAC</string>
    <key>Oi-beria</key>
    <string>u16EAF</string>
    <key>Pi-beria</key>
    <string>u16EB0</string>
    <key>Seri-beria</key>
    <string>u16EB3</string>
    <key>Shep-beria</key>
    <string>u16EB4</string>
    <key>Tatasoue-beria</key>
    <string>u16EB5</string>
    <key>Ui-beria</key>
    <string>u16EB6</string>
    <key>Wasse-beria</key>
    <string>u16EB7</string>
    <key>ZWNBS</key>
    <string>uniFEFF</string>
    <key>ZWSP</key>
    <string>uni200B</string>
    <key>arkab-beria</key>
    <string>u16EBB</string>
    <key>ay-beria</key>
    <string>u16ED3</string>
    <key>basigna-beria</key>
    <string>u16EBC</string>
    <key>darbai-beria</key>
    <string>u16EBD</string>
    <key>djai-beria</key>
    <string>u16EC3</string>
    <key>dotaccentcmb</key>
    <string>uni0307</string>
    <key>eh-beria</key>
    <string>u16EBE</string>
    <key>erigo-beria</key>
    <string>u16ECC</string>
    <key>erigo-tamura-beria</key>
    <string>u16ECD</string>
    <key>fitko-beria</key>
    <string>u16EBF</string>
    <key>gna-beria</key>
    <string>u16EC8</string>
    <key>goway-beria</key>
    <string>u16EC0</string>
    <key>hirdeabo-beria</key>
    <string>u16EC1</string>
    <key>i-beria</key>
    <string>u16EC2</string>
    <key>kobo-beria</key>
    <string>u16EC4</string>
    <key>lakko-beria</key>
    <string>u16EC5</string>
    <key>macroncomb</key>
    <string>uni0304</string>
    <key>meri-beria</key>
    <string>u16EC6</string>
    <key>ngay-beria</key>
    <string>u16EC9</string>
    <key>nini-beria</key>
    <string>u16EC7</string>
    <key>oi-beria</key>
    <string>u16ECA</string>
    <key>pi-beria</key>
    <string>u16ECB</string>
    <key>seri-beria</key>
    <string>u16ECE</string>
    <key>shep-beria</key>
    <string>u16ECF</string>
    <key>tatasoue-beria</key>
    <string>u16ED0</string>
    <key>ui-beria</key>
    <string>u16ED1</string>
    <key>wasse-beria</key>
    <string>u16ED2</string>
  </dict>
</dict>
</plist>
