<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Arkab-beria</key>
  <string>A_rkab-beria.glif</string>
  <key>Ay-beria</key>
  <string>A_y-beria.glif</string>
  <key>Basigna-beria</key>
  <string>B_asigna-beria.glif</string>
  <key>Darbai-beria</key>
  <string>D_arbai-beria.glif</string>
  <key>Djai-beria</key>
  <string>D_jai-beria.glif</string>
  <key>Eh-beria</key>
  <string>E_h-beria.glif</string>
  <key>Erigo-Tamura-beria</key>
  <string>E_rigo-T_amura-beria.glif</string>
  <key>Fitko-beria</key>
  <string>F_itko-beria.glif</string>
  <key>Gna-beria</key>
  <string>G_na-beria.glif</string>
  <key>I-beria</key>
  <string>I_-beria.glif</string>
  <key>Kobo-beria</key>
  <string>K_obo-beria.glif</string>
  <key>Lakko-beria</key>
  <string>L_akko-beria.glif</string>
  <key>Meri-beria</key>
  <string>M_eri-beria.glif</string>
  <key>Ngay-beria</key>
  <string>N_gay-beria.glif</string>
  <key>Nini-beria</key>
  <string>N_ini-beria.glif</string>
  <key>Oi-beria</key>
  <string>O_i-beria.glif</string>
  <key>Pi-beria</key>
  <string>P_i-beria.glif</string>
  <key>Seri-beria</key>
  <string>S_eri-beria.glif</string>
  <key>Shep-beria</key>
  <string>S_hep-beria.glif</string>
  <key>Tatasoue-beria</key>
  <string>T_atasoue-beria.glif</string>
  <key>Ui-beria</key>
  <string>U_i-beria.glif</string>
  <key>arkab-beria</key>
  <string>arkab-beria.glif</string>
  <key>ay-beria</key>
  <string>ay-beria.glif</string>
  <key>basigna-beria</key>
  <string>basigna-beria.glif</string>
  <key>djai-beria</key>
  <string>djai-beria.glif</string>
  <key>erigo-tamura-beria</key>
  <string>erigo-tamura-beria.glif</string>
  <key>fitko-beria</key>
  <string>fitko-beria.glif</string>
  <key>gna-beria</key>
  <string>gna-beria.glif</string>
  <key>goway-beria</key>
  <string>goway-beria.glif</string>
  <key>i-beria</key>
  <string>i-beria.glif</string>
  <key>kobo-beria</key>
  <string>kobo-beria.glif</string>
  <key>meri-beria</key>
  <string>meri-beria.glif</string>
  <key>ngay-beria</key>
  <string>ngay-beria.glif</string>
  <key>nini-beria</key>
  <string>nini-beria.glif</string>
  <key>oi-beria</key>
  <string>oi-beria.glif</string>
  <key>pi-beria</key>
  <string>pi-beria.glif</string>
  <key>seri-beria</key>
  <string>seri-beria.glif</string>
  <key>shep-beria</key>
  <string>shep-beria.glif</string>
  <key>tatasoue-beria</key>
  <string>tatasoue-beria.glif</string>
  <key>ui-beria</key>
  <string>ui-beria.glif</string>
  <key>wasse-beria</key>
  <string>wasse-beria.glif</string>
</dict>
</plist>
