<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.Ay-beria</key>
  <array>
    <string>Ay-beria</string>
  </array>
  <key>public.kern1.Basigna-beria</key>
  <array>
    <string>Basigna-beria</string>
  </array>
  <key>public.kern1.Darbai-beria</key>
  <array>
    <string>Darbai-beria</string>
  </array>
  <key>public.kern1.Djai-beria</key>
  <array>
    <string>Djai-beria</string>
  </array>
  <key>public.kern1.Eh-beria</key>
  <array>
    <string>Eh-beria</string>
  </array>
  <key>public.kern1.Erigo-beria</key>
  <array>
    <string>Erigo-beria</string>
  </array>
  <key>public.kern1.Fitko-beria</key>
  <array>
    <string>Fitko-beria</string>
    <string>Hirdeabo-beria</string>
  </array>
  <key>public.kern1.Gna-beria</key>
  <array>
    <string>Gna-beria</string>
  </array>
  <key>public.kern1.Goway-beria</key>
  <array>
    <string>Goway-beria</string>
  </array>
  <key>public.kern1.I-beria</key>
  <array>
    <string>I-beria</string>
  </array>
  <key>public.kern1.Kobo-beria</key>
  <array>
    <string>Kobo-beria</string>
    <string>Nini-beria</string>
  </array>
  <key>public.kern1.Lakko-beria</key>
  <array>
    <string>Lakko-beria</string>
  </array>
  <key>public.kern1.Meri-beria</key>
  <array>
    <string>Meri-beria</string>
  </array>
  <key>public.kern1.Ngay-beria</key>
  <array>
    <string>Ngay-beria</string>
  </array>
  <key>public.kern1.Oi-beria</key>
  <array>
    <string>Oi-beria</string>
  </array>
  <key>public.kern1.Pi-beria</key>
  <array>
    <string>Pi-beria</string>
  </array>
  <key>public.kern1.Seri-beria</key>
  <array>
    <string>Seri-beria</string>
  </array>
  <key>public.kern1.Shep-beria</key>
  <array>
    <string>Shep-beria</string>
  </array>
  <key>public.kern1.Tatasoue-beria</key>
  <array>
    <string>Tatasoue-beria</string>
  </array>
  <key>public.kern1.Ui-beria</key>
  <array>
    <string>Ui-beria</string>
  </array>
  <key>public.kern1.Wasse-beria</key>
  <array>
    <string>Wasse-beria</string>
    <string>Wasse-beria.001</string>
  </array>
  <key>public.kern1.ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern1.arkab-beria</key>
  <array>
    <string>arkab-beria</string>
  </array>
  <key>public.kern1.asterisk</key>
  <array>
    <string>asterisk</string>
  </array>
  <key>public.kern1.ay-beria</key>
  <array>
    <string>ay-beria</string>
  </array>
  <key>public.kern1.backslash</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern1.basigna-beria</key>
  <array>
    <string>basigna-beria</string>
    <string>erigo-beria</string>
    <string>hirdeabo-beria</string>
  </array>
  <key>public.kern1.braceleft</key>
  <array>
    <string>braceleft</string>
  </array>
  <key>public.kern1.bracketleft</key>
  <array>
    <string>bracketleft</string>
  </array>
  <key>public.kern1.bullet</key>
  <array>
    <string>bullet</string>
  </array>
  <key>public.kern1.comma</key>
  <array>
    <string>comma</string>
  </array>
  <key>public.kern1.dagger</key>
  <array>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>public.kern1.darbai-beria</key>
  <array>
    <string>darbai-beria</string>
  </array>
  <key>public.kern1.djai-beria</key>
  <array>
    <string>djai-beria</string>
  </array>
  <key>public.kern1.eh-beria</key>
  <array>
    <string>eh-beria</string>
  </array>
  <key>public.kern1.eight</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern1.exclam</key>
  <array>
    <string>exclam</string>
  </array>
  <key>public.kern1.fitko-beria</key>
  <array>
    <string>fitko-beria</string>
  </array>
  <key>public.kern1.five</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern1.four</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern1.gna-beria</key>
  <array>
    <string>gna-beria</string>
  </array>
  <key>public.kern1.goway-beria</key>
  <array>
    <string>goway-beria</string>
  </array>
  <key>public.kern1.guilsinglleft</key>
  <array>
    <string>guillemetleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.guilsinglright</key>
  <array>
    <string>guillemetright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.hyphen</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern1.i-beria</key>
  <array>
    <string>i-beria</string>
  </array>
  <key>public.kern1.kobo-beria</key>
  <array>
    <string>kobo-beria</string>
  </array>
  <key>public.kern1.lakko-beria</key>
  <array>
    <string>lakko-beria</string>
  </array>
  <key>public.kern1.meri-beria</key>
  <array>
    <string>meri-beria</string>
  </array>
  <key>public.kern1.ngay-beria</key>
  <array>
    <string>ngay-beria</string>
  </array>
  <key>public.kern1.nini-beria</key>
  <array>
    <string>nini-beria</string>
  </array>
  <key>public.kern1.oi-beria</key>
  <array>
    <string>oi-beria</string>
  </array>
  <key>public.kern1.one</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern1.parenleft</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>period</string>
  </array>
  <key>public.kern1.pi-beria</key>
  <array>
    <string>pi-beria</string>
  </array>
  <key>public.kern1.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.quotesinglbase</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.quotesingle</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.registered</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>public.kern1.semicolon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.seri-beria</key>
  <array>
    <string>seri-beria</string>
  </array>
  <key>public.kern1.seven</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern1.shep-beria</key>
  <array>
    <string>shep-beria</string>
  </array>
  <key>public.kern1.six</key>
  <array>
    <string>six</string>
  </array>
  <key>public.kern1.slash</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern1.space</key>
  <array>
    <string>space</string>
  </array>
  <key>public.kern1.tatasoue-beria</key>
  <array>
    <string>tatasoue-beria</string>
  </array>
  <key>public.kern1.three</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern1.two</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern1.ui-beria</key>
  <array>
    <string>ui-beria</string>
  </array>
  <key>public.kern1.wasse-beria</key>
  <array>
    <string>wasse-beria</string>
  </array>
  <key>public.kern1.zero</key>
  <array>
    <string>nine</string>
    <string>zero</string>
  </array>
  <key>public.kern2.Ay-beria</key>
  <array>
    <string>Ay-beria</string>
  </array>
  <key>public.kern2.Basigna-beria</key>
  <array>
    <string>Basigna-beria</string>
  </array>
  <key>public.kern2.Darbai-beria</key>
  <array>
    <string>Darbai-beria</string>
  </array>
  <key>public.kern2.Djai-beria</key>
  <array>
    <string>Djai-beria</string>
  </array>
  <key>public.kern2.Eh-beria</key>
  <array>
    <string>Eh-beria</string>
  </array>
  <key>public.kern2.Erigo-beria</key>
  <array>
    <string>Erigo-beria</string>
  </array>
  <key>public.kern2.Fitko-beria</key>
  <array>
    <string>Fitko-beria</string>
  </array>
  <key>public.kern2.Gna-beria</key>
  <array>
    <string>Gna-beria</string>
  </array>
  <key>public.kern2.Goway-beria</key>
  <array>
    <string>Goway-beria</string>
  </array>
  <key>public.kern2.I-beria</key>
  <array>
    <string>I-beria</string>
  </array>
  <key>public.kern2.Kobo-beria</key>
  <array>
    <string>Kobo-beria</string>
  </array>
  <key>public.kern2.Lakko-beria</key>
  <array>
    <string>Lakko-beria</string>
  </array>
  <key>public.kern2.Meri-beria</key>
  <array>
    <string>Meri-beria</string>
  </array>
  <key>public.kern2.Ngay-beria</key>
  <array>
    <string>Ngay-beria</string>
  </array>
  <key>public.kern2.Nini-beria</key>
  <array>
    <string>Nini-beria</string>
  </array>
  <key>public.kern2.Oi-beria</key>
  <array>
    <string>Oi-beria</string>
  </array>
  <key>public.kern2.Pi-beria</key>
  <array>
    <string>Pi-beria</string>
  </array>
  <key>public.kern2.Seri-beria</key>
  <array>
    <string>Seri-beria</string>
  </array>
  <key>public.kern2.Shep-beria</key>
  <array>
    <string>Shep-beria</string>
  </array>
  <key>public.kern2.Tatasoue-beria</key>
  <array>
    <string>Tatasoue-beria</string>
  </array>
  <key>public.kern2.Ui-beria</key>
  <array>
    <string>Ui-beria</string>
  </array>
  <key>public.kern2.Wasse-beria</key>
  <array>
    <string>Wasse-beria</string>
    <string>Wasse-beria.001</string>
  </array>
  <key>public.kern2.ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern2.arkab-beria</key>
  <array>
    <string>arkab-beria</string>
  </array>
  <key>public.kern2.asterisk</key>
  <array>
    <string>asterisk</string>
  </array>
  <key>public.kern2.ay-beria</key>
  <array>
    <string>ay-beria</string>
  </array>
  <key>public.kern2.backslash</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern2.basigna-beria</key>
  <array>
    <string>basigna-beria</string>
    <string>pi-beria</string>
  </array>
  <key>public.kern2.braceright</key>
  <array>
    <string>braceright</string>
  </array>
  <key>public.kern2.bracketright</key>
  <array>
    <string>bracketright</string>
  </array>
  <key>public.kern2.bullet</key>
  <array>
    <string>bullet</string>
  </array>
  <key>public.kern2.comma</key>
  <array>
    <string>comma</string>
  </array>
  <key>public.kern2.dagger</key>
  <array>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>public.kern2.darbai-beria</key>
  <array>
    <string>darbai-beria</string>
  </array>
  <key>public.kern2.djai-beria</key>
  <array>
    <string>djai-beria</string>
  </array>
  <key>public.kern2.eh-beria</key>
  <array>
    <string>eh-beria</string>
  </array>
  <key>public.kern2.eight</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern2.exclam</key>
  <array>
    <string>exclam</string>
  </array>
  <key>public.kern2.fitko-beria</key>
  <array>
    <string>fitko-beria</string>
  </array>
  <key>public.kern2.five</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern2.four</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern2.goway-beria</key>
  <array>
    <string>goway-beria</string>
  </array>
  <key>public.kern2.guilsinglleft</key>
  <array>
    <string>guillemetleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.guilsinglright</key>
  <array>
    <string>guillemetright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.hirdeabo-beria</key>
  <array>
    <string>erigo-beria</string>
    <string>gna-beria</string>
    <string>hirdeabo-beria</string>
    <string>ngay-beria</string>
  </array>
  <key>public.kern2.hyphen</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern2.i-beria</key>
  <array>
    <string>i-beria</string>
  </array>
  <key>public.kern2.kobo-beria</key>
  <array>
    <string>kobo-beria</string>
  </array>
  <key>public.kern2.lakko-beria</key>
  <array>
    <string>lakko-beria</string>
  </array>
  <key>public.kern2.meri-beria</key>
  <array>
    <string>meri-beria</string>
  </array>
  <key>public.kern2.nine</key>
  <array>
    <string>nine</string>
  </array>
  <key>public.kern2.nini-beria</key>
  <array>
    <string>nini-beria</string>
  </array>
  <key>public.kern2.oi-beria</key>
  <array>
    <string>oi-beria</string>
  </array>
  <key>public.kern2.one</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern2.parenright</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern2.percent</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>period</string>
  </array>
  <key>public.kern2.question</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern2.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.quotesinglbase</key>
  <array>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.quotesingle</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.semicolon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.seri-beria</key>
  <array>
    <string>seri-beria</string>
  </array>
  <key>public.kern2.seven</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern2.shep-beria</key>
  <array>
    <string>shep-beria</string>
  </array>
  <key>public.kern2.slash</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern2.space</key>
  <array>
    <string>space</string>
  </array>
  <key>public.kern2.tatasoue-beria</key>
  <array>
    <string>tatasoue-beria</string>
  </array>
  <key>public.kern2.three</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern2.trademark</key>
  <array>
    <string>trademark</string>
  </array>
  <key>public.kern2.two</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern2.ui-beria</key>
  <array>
    <string>ui-beria</string>
  </array>
  <key>public.kern2.wasse-beria</key>
  <array>
    <string>wasse-beria</string>
  </array>
  <key>public.kern2.zero</key>
  <array>
    <string>six</string>
    <string>zero</string>
  </array>
</dict>
</plist>
