<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>Arkab-beria</key>
  <string>A_rkab-beria.glif</string>
  <key>Ay-beria</key>
  <string>A_y-beria.glif</string>
  <key>Basigna-beria</key>
  <string>B_asigna-beria.glif</string>
  <key>Darbai-beria</key>
  <string>D_arbai-beria.glif</string>
  <key>Djai-beria</key>
  <string>D_jai-beria.glif</string>
  <key>Eh-beria</key>
  <string>E_h-beria.glif</string>
  <key>Erigo-Tamura-beria</key>
  <string>E_rigo-T_amura-beria.glif</string>
  <key>Erigo-beria</key>
  <string>E_rigo-beria.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>Fitko-beria</key>
  <string>F_itko-beria.glif</string>
  <key>Gna-beria</key>
  <string>G_na-beria.glif</string>
  <key>Goway-beria</key>
  <string>G_oway-beria.glif</string>
  <key>Hirdeabo-beria</key>
  <string>H_irdeabo-beria.glif</string>
  <key>I-beria</key>
  <string>I_-beria.glif</string>
  <key>Kobo-beria</key>
  <string>K_obo-beria.glif</string>
  <key>Lakko-beria</key>
  <string>L_akko-beria.glif</string>
  <key>Meri-beria</key>
  <string>M_eri-beria.glif</string>
  <key>Ngay-beria</key>
  <string>N_gay-beria.glif</string>
  <key>Nini-beria</key>
  <string>N_ini-beria.glif</string>
  <key>Oi-beria</key>
  <string>O_i-beria.glif</string>
  <key>Pi-beria</key>
  <string>P_i-beria.glif</string>
  <key>Seri-beria</key>
  <string>S_eri-beria.glif</string>
  <key>Shep-beria</key>
  <string>S_hep-beria.glif</string>
  <key>Tatasoue-beria</key>
  <string>T_atasoue-beria.glif</string>
  <key>Ui-beria</key>
  <string>U_i-beria.glif</string>
  <key>Wasse-beria</key>
  <string>W_asse-beria.glif</string>
  <key>ZWNBS</key>
  <string>Z_W_N_B_S_.glif</string>
  <key>ZWSP</key>
  <string>Z_W_S_P_.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>arkab-beria</key>
  <string>arkab-beria.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>ay-beria</key>
  <string>ay-beria.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>basigna-beria</key>
  <string>basigna-beria.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>darbai-beria</key>
  <string>darbai-beria.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>djai-beria</key>
  <string>djai-beria.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccentcmb</key>
  <string>dotaccentcmb.glif</string>
  <key>eh-beria</key>
  <string>eh-beria.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>erigo-beria</key>
  <string>erigo-beria.glif</string>
  <key>erigo-tamura-beria</key>
  <string>erigo-tamura-beria.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>fitko-beria</key>
  <string>fitko-beria.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>gna-beria</key>
  <string>gna-beria.glif</string>
  <key>goway-beria</key>
  <string>goway-beria.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>hirdeabo-beria</key>
  <string>hirdeabo-beria.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i-beria</key>
  <string>i-beria.glif</string>
  <key>kobo-beria</key>
  <string>kobo-beria.glif</string>
  <key>lakko-beria</key>
  <string>lakko-beria.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>meri-beria</key>
  <string>meri-beria.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>ngay-beria</key>
  <string>ngay-beria.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nini-beria</key>
  <string>nini-beria.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>oi-beria</key>
  <string>oi-beria.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi-beria</key>
  <string>pi-beria.glif</string>
  <key>placeholder</key>
  <string>placeholder.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seri-beria</key>
  <string>seri-beria.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>shep-beria</key>
  <string>shep-beria.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>tatasoue-beria</key>
  <string>tatasoue-beria.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>ui-beria</key>
  <string>ui-beria.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni2060</key>
  <string>uni2060.glif</string>
  <key>wasse-beria</key>
  <string>wasse-beria.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
