<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3065</string>
  <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
  <dict>
    <key>XXXX</key>
    <dict>
      <key>0</key>
      <integer>0</integer>
    </dict>
    <key>wdth</key>
    <dict>
      <key>100</key>
      <integer>100</integer>
    </dict>
    <key>wght</key>
    <dict>
      <key>400</key>
      <integer>400</integer>
      <key>700</key>
      <integer>700</integer>
    </dict>
  </dict>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Beria New Regular: 2021</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Ay-beria</string>
    <string>Ay_acute-beria</string>
    <string>Ay_grave-beria</string>
    <string>Ay_macron-beria</string>
    <string>ay-beria</string>
    <string>ay_acute-beria</string>
    <string>ay_grave-beria</string>
    <string>ay_macron-beria</string>
    <string>Bay-beria</string>
    <string>bay-beria</string>
    <string>Tchay-beria</string>
    <string>tchay-beria</string>
    <string>Day-beria</string>
    <string>day-beria</string>
    <string>Ey-beria</string>
    <string>Ey_acute-beria</string>
    <string>Ey_grave-beria</string>
    <string>Ey_macron-beria</string>
    <string>Ey_dot-beria</string>
    <string>ey-beria</string>
    <string>ey_acute-beria</string>
    <string>ey_grave-beria</string>
    <string>ey_macron-beria</string>
    <string>ey_dot-beria</string>
    <string>Archi-beria</string>
    <string>archi-beria</string>
    <string>Effi-beria</string>
    <string>effi-beria</string>
    <string>Gay-beria</string>
    <string>gay-beria</string>
    <string>Hay-beria</string>
    <string>hay-beria</string>
    <string>Hiyi-beria</string>
    <string>hiyi-beria</string>
    <string>Iyi-beria</string>
    <string>Iyi_acute-beria</string>
    <string>Iyi_grave-beria</string>
    <string>Iyi_macron-beria</string>
    <string>Iyi_dot-beria</string>
    <string>iyi-beria</string>
    <string>iyi_acute-beria</string>
    <string>iyi_grave-beria</string>
    <string>iyi_macron-beria</string>
    <string>Iya-beria</string>
    <string>iya-beria</string>
    <string>Djay-beria</string>
    <string>djay-beria</string>
    <string>Key-beria</string>
    <string>key-beria</string>
    <string>Elli-beria</string>
    <string>elli-beria</string>
    <string>Emmi-beria</string>
    <string>emimi-beria</string>
    <string>Enni-beria</string>
    <string>enni-beria</string>
    <string>Oi-beria</string>
    <string>Oi_acute-beria</string>
    <string>Oi_grave-beria</string>
    <string>Oi_macron-beria</string>
    <string>oi-beria</string>
    <string>oi_acute-beria</string>
    <string>oi_grave-beria</string>
    <string>oi_macron-beria</string>
    <string>Pi-beria</string>
    <string>pi-beria</string>
    <string>Erri-beria</string>
    <string>erri-beria</string>
    <string>Erri-2-beria</string>
    <string>erri-2-beria</string>
    <string>Essi-beria</string>
    <string>essi-beria</string>
    <string>Chei-beria</string>
    <string>chei-beria</string>
    <string>Shep-beria</string>
    <string>shep-beria</string>
    <string>Tai-beria</string>
    <string>tai-beria</string>
    <string>Way-beria</string>
    <string>way-beria</string>
    <string>Nay-beria</string>
    <string>nay-beria</string>
    <string>Gna-beria</string>
    <string>gna-beria</string>
    <string>Yay-beria</string>
    <string>Yay_dot-beria</string>
    <string>yay-beria</string>
    <string>yay_dot-beria</string>
    <string>Uy-beria</string>
    <string>Uy_acute-beria</string>
    <string>Uy_grave-beria</string>
    <string>Uy_macron-beria</string>
    <string>uy-beria</string>
    <string>uy_acute-beria</string>
    <string>uy_grave-beria</string>
    <string>uy_macron-beria</string>
    <string>Khay-beria</string>
    <string>khay-beria</string>
    <string>Zay-beria</string>
    <string>zay-beria</string>
    <string>zero-beria</string>
    <string>one-beria</string>
    <string>two-beria</string>
    <string>three-beria</string>
    <string>four-beria</string>
    <string>five-beria</string>
    <string>six-beria</string>
    <string>seven-beria</string>
    <string>eight-beria</string>
    <string>nine-beria</string>
    <string>circumflex-beria</string>
    <string>dieresis-beria</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>cent</string>
    <string>sterling</string>
    <string>yen</string>
    <string>section</string>
    <string>copyright</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>registered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>paragraph</string>
    <string>guillemotright</string>
    <string>multiply</string>
    <string>divide</string>
    <string>florin</string>
    <string>grave-beria</string>
    <string>acute-beria</string>
    <string>macron-beria</string>
    <string>dot-beria</string>
    <string>ZWSP</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>uni2060</string>
    <string>Euro</string>
    <string>trademark</string>
    <string>minus</string>
    <string>approxequal</string>
    <string>ZWNBS</string>
    <string>placeholder</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Archi-beria</key>
    <string>uniE018</string>
    <key>Ay-beria</key>
    <string>uniE000</string>
    <key>Ay_acute-beria</key>
    <string>uniE002</string>
    <key>Ay_grave-beria</key>
    <string>uniE004</string>
    <key>Ay_macron-beria</key>
    <string>uniE006</string>
    <key>Bay-beria</key>
    <string>uniE008</string>
    <key>Chei-beria</key>
    <string>uniE048</string>
    <key>Day-beria</key>
    <string>uniE00C</string>
    <key>Djay-beria</key>
    <string>uniE02E</string>
    <key>Effi-beria</key>
    <string>uniE01A</string>
    <key>Elli-beria</key>
    <string>uniE032</string>
    <key>Emmi-beria</key>
    <string>uniE034</string>
    <key>Enni-beria</key>
    <string>uniE036</string>
    <key>Erri-2-beria</key>
    <string>uniE044</string>
    <key>Erri-beria</key>
    <string>uniE042</string>
    <key>Essi-beria</key>
    <string>uniE046</string>
    <key>Ey-beria</key>
    <string>uniE00E</string>
    <key>Ey_acute-beria</key>
    <string>uniE010</string>
    <key>Ey_dot-beria</key>
    <string>uniE016</string>
    <key>Ey_grave-beria</key>
    <string>uniE012</string>
    <key>Ey_macron-beria</key>
    <string>uniE014</string>
    <key>Gay-beria</key>
    <string>uniE01C</string>
    <key>Gna-beria</key>
    <string>uniE052</string>
    <key>Hay-beria</key>
    <string>uniE01E</string>
    <key>Hiyi-beria</key>
    <string>uniE020</string>
    <key>Iya-beria</key>
    <string>uniE02C</string>
    <key>Iyi-beria</key>
    <string>uniE022</string>
    <key>Iyi_acute-beria</key>
    <string>uniE024</string>
    <key>Iyi_dot-beria</key>
    <string>uniE02A</string>
    <key>Iyi_grave-beria</key>
    <string>uniE026</string>
    <key>Iyi_macron-beria</key>
    <string>uniE028</string>
    <key>Key-beria</key>
    <string>uniE030</string>
    <key>Khay-beria</key>
    <string>uniE060</string>
    <key>Nay-beria</key>
    <string>uniE050</string>
    <key>Oi-beria</key>
    <string>uniE038</string>
    <key>Oi_acute-beria</key>
    <string>uniE03A</string>
    <key>Oi_grave-beria</key>
    <string>uniE03C</string>
    <key>Oi_macron-beria</key>
    <string>uniE03E</string>
    <key>Pi-beria</key>
    <string>uniE040</string>
    <key>Shep-beria</key>
    <string>uniE04A</string>
    <key>Tai-beria</key>
    <string>uniE04C</string>
    <key>Tchay-beria</key>
    <string>uniE00A</string>
    <key>Uy-beria</key>
    <string>uniE058</string>
    <key>Uy_acute-beria</key>
    <string>uniE05A</string>
    <key>Uy_grave-beria</key>
    <string>uniE05C</string>
    <key>Uy_macron-beria</key>
    <string>uniE05E</string>
    <key>Way-beria</key>
    <string>uniE04E</string>
    <key>Yay-beria</key>
    <string>uniE054</string>
    <key>Yay_dot-beria</key>
    <string>uniE056</string>
    <key>ZWNBS</key>
    <string>uniFEFF</string>
    <key>Zay-beria</key>
    <string>uniE062</string>
    <key>acute-beria</key>
    <string>acutecomb</string>
    <key>archi-beria</key>
    <string>uniE019</string>
    <key>ay-beria</key>
    <string>uniE001</string>
    <key>ay_acute-beria</key>
    <string>uniE003</string>
    <key>ay_grave-beria</key>
    <string>uniE005</string>
    <key>ay_macron-beria</key>
    <string>uniE007</string>
    <key>bay-beria</key>
    <string>uniE009</string>
    <key>chei-beria</key>
    <string>uniE049</string>
    <key>circumflex-beria</key>
    <string>uni0302</string>
    <key>day-beria</key>
    <string>uniE00D</string>
    <key>dieresis-beria</key>
    <string>uni0308</string>
    <key>djay-beria</key>
    <string>uniE02F</string>
    <key>dot-beria</key>
    <string>uni0307</string>
    <key>effi-beria</key>
    <string>uniE01B</string>
    <key>eight-beria</key>
    <string>uniE078</string>
    <key>elli-beria</key>
    <string>uniE033</string>
    <key>emimi-beria</key>
    <string>uniE035</string>
    <key>enni-beria</key>
    <string>uniE037</string>
    <key>erri-2-beria</key>
    <string>uniE045</string>
    <key>erri-beria</key>
    <string>uniE043</string>
    <key>essi-beria</key>
    <string>uniE047</string>
    <key>ey-beria</key>
    <string>uniE00F</string>
    <key>ey_acute-beria</key>
    <string>uniE011</string>
    <key>ey_dot-beria</key>
    <string>uniE017</string>
    <key>ey_grave-beria</key>
    <string>uniE013</string>
    <key>ey_macron-beria</key>
    <string>uniE015</string>
    <key>five-beria</key>
    <string>uniE075</string>
    <key>four-beria</key>
    <string>uniE074</string>
    <key>gay-beria</key>
    <string>uniE01D</string>
    <key>gna-beria</key>
    <string>uniE053</string>
    <key>grave-beria</key>
    <string>gravecomb</string>
    <key>hay-beria</key>
    <string>uniE01F</string>
    <key>hiyi-beria</key>
    <string>uniE021</string>
    <key>iya-beria</key>
    <string>uniE02D</string>
    <key>iyi-beria</key>
    <string>uniE023</string>
    <key>iyi_acute-beria</key>
    <string>uniE025</string>
    <key>iyi_grave-beria</key>
    <string>uniE027</string>
    <key>iyi_macron-beria</key>
    <string>uniE029</string>
    <key>key-beria</key>
    <string>uniE031</string>
    <key>khay-beria</key>
    <string>uniE061</string>
    <key>macron-beria</key>
    <string>uni0304</string>
    <key>nay-beria</key>
    <string>uniE051</string>
    <key>nine-beria</key>
    <string>uniE079</string>
    <key>oi-beria</key>
    <string>uniE039</string>
    <key>oi_acute-beria</key>
    <string>uniE03B</string>
    <key>oi_grave-beria</key>
    <string>uniE03D</string>
    <key>oi_macron-beria</key>
    <string>uniE03F</string>
    <key>one-beria</key>
    <string>uniE071</string>
    <key>pi-beria</key>
    <string>uniE041</string>
    <key>seven-beria</key>
    <string>uniE077</string>
    <key>shep-beria</key>
    <string>uniE04B</string>
    <key>six-beria</key>
    <string>uniE076</string>
    <key>tai-beria</key>
    <string>uniE04D</string>
    <key>tchay-beria</key>
    <string>uniE00B</string>
    <key>three-beria</key>
    <string>uniE073</string>
    <key>two-beria</key>
    <string>uniE072</string>
    <key>uy-beria</key>
    <string>uniE059</string>
    <key>uy_acute-beria</key>
    <string>uniE05B</string>
    <key>uy_grave-beria</key>
    <string>uniE05D</string>
    <key>uy_macron-beria</key>
    <string>uniE05F</string>
    <key>way-beria</key>
    <string>uniE04F</string>
    <key>yay-beria</key>
    <string>uniE055</string>
    <key>yay_dot-beria</key>
    <string>uniE057</string>
    <key>zay-beria</key>
    <string>uniE063</string>
    <key>zero-beria</key>
    <string>uniE070</string>
  </dict>
</dict>
</plist>
