<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
    <key>com.schriftgestaltung.Glyphs.originalKerningGroups</key>
    <dict>
      <key>public.kern1.Aacute</key>
      <array>
        <string>Aacute</string>
        <string>Adotaccent</string>
        <string>A</string>
        <string>Agrave</string>
        <string>Acircumflex</string>
      </array>
      <key>public.kern1.B</key>
      <array>
        <string>B</string>
      </array>
      <key>public.kern1.C</key>
      <array>
        <string>C</string>
      </array>
      <key>public.kern1.D</key>
      <array>
        <string>D</string>
      </array>
      <key>public.kern1.E</key>
      <array>
        <string>E</string>
        <string>Eacute</string>
        <string>Edotaccent</string>
        <string>Egrave</string>
        <string>Ecircumflex</string>
      </array>
      <key>public.kern1.F</key>
      <array>
        <string>F</string>
        <string>H</string>
      </array>
      <key>public.kern1.G</key>
      <array>
        <string>G</string>
      </array>
      <key>public.kern1.I</key>
      <array>
        <string>I</string>
        <string>Iacute</string>
        <string>Idotaccent</string>
        <string>Igrave</string>
        <string>Icircumflex</string>
      </array>
      <key>public.kern1.J</key>
      <array>
        <string>J</string>
      </array>
      <key>public.kern1.K</key>
      <array>
        <string>K</string>
        <string>N</string>
      </array>
      <key>public.kern1.L</key>
      <array>
        <string>L</string>
      </array>
      <key>public.kern1.M</key>
      <array>
        <string>M</string>
      </array>
      <key>public.kern1.O</key>
      <array>
        <string>O</string>
        <string>Oacute</string>
        <string>Odotaccent</string>
        <string>Ograve</string>
        <string>Ocircumflex</string>
      </array>
      <key>public.kern1.P</key>
      <array>
        <string>P</string>
      </array>
      <key>public.kern1.R</key>
      <array>
        <string>R</string>
      </array>
      <key>public.kern1.S</key>
      <array>
        <string>S</string>
      </array>
      <key>public.kern1.T</key>
      <array>
        <string>T</string>
      </array>
      <key>public.kern1.U</key>
      <array>
        <string>U</string>
        <string>Uacute</string>
        <string>Udotaccent</string>
        <string>Ugrave</string>
        <string>Ucircumflex</string>
      </array>
      <key>public.kern1.W</key>
      <array>
        <string>W</string>
      </array>
      <key>public.kern1.X</key>
      <array>
        <string>X</string>
      </array>
      <key>public.kern1.Y</key>
      <array>
        <string>Y</string>
      </array>
      <key>public.kern1.Z</key>
      <array>
        <string>Z</string>
      </array>
      <key>public.kern1.a</key>
      <array>
        <string>a</string>
        <string>aacute</string>
        <string>adotaccent</string>
        <string>agrave</string>
        <string>acircumflex</string>
      </array>
      <key>public.kern1.ampersand</key>
      <array>
        <string>ampersand</string>
      </array>
      <key>public.kern1.asterisk</key>
      <array>
        <string>asterisk</string>
      </array>
      <key>public.kern1.b</key>
      <array>
        <string>b</string>
        <string>h</string>
        <string>r</string>
      </array>
      <key>public.kern1.backslash</key>
      <array>
        <string>backslash</string>
      </array>
      <key>public.kern1.braceleft</key>
      <array>
        <string>braceleft</string>
      </array>
      <key>public.kern1.bracketleft</key>
      <array>
        <string>bracketleft</string>
      </array>
      <key>public.kern1.bullet</key>
      <array>
        <string>bullet</string>
      </array>
      <key>public.kern1.c</key>
      <array>
        <string>c</string>
      </array>
      <key>public.kern1.comma</key>
      <array>
        <string>comma</string>
      </array>
      <key>public.kern1.d</key>
      <array>
        <string>d</string>
      </array>
      <key>public.kern1.dagger</key>
      <array>
        <string>dagger</string>
        <string>daggerdbl</string>
      </array>
      <key>public.kern1.e</key>
      <array>
        <string>e</string>
        <string>eacute</string>
        <string>edotaccent</string>
        <string>egrave</string>
        <string>ecircumflex</string>
      </array>
      <key>public.kern1.eight</key>
      <array>
        <string>eight</string>
      </array>
      <key>public.kern1.exclam</key>
      <array>
        <string>exclam</string>
      </array>
      <key>public.kern1.f</key>
      <array>
        <string>f</string>
      </array>
      <key>public.kern1.five</key>
      <array>
        <string>five</string>
      </array>
      <key>public.kern1.four</key>
      <array>
        <string>four</string>
      </array>
      <key>public.kern1.g</key>
      <array>
        <string>g</string>
      </array>
      <key>public.kern1.guilsinglleft</key>
      <array>
        <string>guilsinglleft</string>
        <string>guillemotleft</string>
      </array>
      <key>public.kern1.guilsinglright</key>
      <array>
        <string>guilsinglright</string>
        <string>guillemotright</string>
      </array>
      <key>public.kern1.hyphen</key>
      <array>
        <string>hyphen</string>
        <string>endash</string>
        <string>emdash</string>
      </array>
      <key>public.kern1.i</key>
      <array>
        <string>i</string>
        <string>iacute</string>
        <string>idotaccent</string>
        <string>igrave</string>
        <string>icircumflex</string>
      </array>
      <key>public.kern1.j</key>
      <array>
        <string>j</string>
      </array>
      <key>public.kern1.k</key>
      <array>
        <string>k</string>
      </array>
      <key>public.kern1.l</key>
      <array>
        <string>l</string>
      </array>
      <key>public.kern1.m</key>
      <array>
        <string>m</string>
      </array>
      <key>public.kern1.n</key>
      <array>
        <string>n</string>
      </array>
      <key>public.kern1.o</key>
      <array>
        <string>o</string>
        <string>oacute</string>
        <string>odotaccent</string>
        <string>ograve</string>
        <string>ocircumflex</string>
      </array>
      <key>public.kern1.one</key>
      <array>
        <string>one</string>
      </array>
      <key>public.kern1.p</key>
      <array>
        <string>p</string>
      </array>
      <key>public.kern1.parenleft</key>
      <array>
        <string>parenleft</string>
      </array>
      <key>public.kern1.period</key>
      <array>
        <string>period</string>
      </array>
      <key>public.kern1.quoteleft</key>
      <array>
        <string>quoteleft</string>
        <string>quotedblleft</string>
      </array>
      <key>public.kern1.quoteright</key>
      <array>
        <string>quoteright</string>
        <string>quotedblright</string>
      </array>
      <key>public.kern1.quotesinglbase</key>
      <array>
        <string>quotesinglbase</string>
        <string>quotedblbase</string>
      </array>
      <key>public.kern1.quotesingle</key>
      <array>
        <string>quotesingle</string>
        <string>quotedbl</string>
      </array>
      <key>public.kern1.registered</key>
      <array>
        <string>registered</string>
        <string>copyright</string>
      </array>
      <key>public.kern1.s</key>
      <array>
        <string>s</string>
      </array>
      <key>public.kern1.semicolon</key>
      <array>
        <string>semicolon</string>
        <string>colon</string>
      </array>
      <key>public.kern1.seven</key>
      <array>
        <string>seven</string>
      </array>
      <key>public.kern1.six</key>
      <array>
        <string>six</string>
      </array>
      <key>public.kern1.slash</key>
      <array>
        <string>slash</string>
      </array>
      <key>public.kern1.space</key>
      <array>
        <string>space</string>
      </array>
      <key>public.kern1.t</key>
      <array>
        <string>t</string>
      </array>
      <key>public.kern1.three</key>
      <array>
        <string>three</string>
      </array>
      <key>public.kern1.two</key>
      <array>
        <string>two</string>
      </array>
      <key>public.kern1.u</key>
      <array>
        <string>u</string>
        <string>uacute</string>
        <string>udotaccent</string>
        <string>ugrave</string>
        <string>ucircumflex</string>
      </array>
      <key>public.kern1.w</key>
      <array>
        <string>w</string>
      </array>
      <key>public.kern1.x</key>
      <array>
        <string>x</string>
      </array>
      <key>public.kern1.y</key>
      <array>
        <string>y</string>
      </array>
      <key>public.kern1.z</key>
      <array>
        <string>z</string>
      </array>
      <key>public.kern1.zero</key>
      <array>
        <string>zero</string>
        <string>nine</string>
      </array>
      <key>public.kern2.Aacute</key>
      <array>
        <string>Aacute</string>
        <string>Adotaccent</string>
        <string>A</string>
        <string>Agrave</string>
        <string>Acircumflex</string>
      </array>
      <key>public.kern2.B</key>
      <array>
        <string>B</string>
      </array>
      <key>public.kern2.C</key>
      <array>
        <string>C</string>
      </array>
      <key>public.kern2.D</key>
      <array>
        <string>D</string>
      </array>
      <key>public.kern2.E</key>
      <array>
        <string>E</string>
        <string>Eacute</string>
        <string>Edotaccent</string>
        <string>Egrave</string>
        <string>Ecircumflex</string>
      </array>
      <key>public.kern2.F</key>
      <array>
        <string>F</string>
      </array>
      <key>public.kern2.G</key>
      <array>
        <string>G</string>
      </array>
      <key>public.kern2.I</key>
      <array>
        <string>I</string>
        <string>Iacute</string>
        <string>Idotaccent</string>
        <string>Igrave</string>
        <string>Icircumflex</string>
      </array>
      <key>public.kern2.J</key>
      <array>
        <string>J</string>
      </array>
      <key>public.kern2.K</key>
      <array>
        <string>K</string>
      </array>
      <key>public.kern2.L</key>
      <array>
        <string>L</string>
      </array>
      <key>public.kern2.M</key>
      <array>
        <string>M</string>
      </array>
      <key>public.kern2.N</key>
      <array>
        <string>N</string>
      </array>
      <key>public.kern2.O</key>
      <array>
        <string>O</string>
        <string>Oacute</string>
        <string>Odotaccent</string>
        <string>Ograve</string>
        <string>Ocircumflex</string>
      </array>
      <key>public.kern2.P</key>
      <array>
        <string>P</string>
      </array>
      <key>public.kern2.R</key>
      <array>
        <string>R</string>
      </array>
      <key>public.kern2.S</key>
      <array>
        <string>S</string>
      </array>
      <key>public.kern2.T</key>
      <array>
        <string>T</string>
      </array>
      <key>public.kern2.U</key>
      <array>
        <string>U</string>
        <string>Uacute</string>
        <string>Udotaccent</string>
        <string>Ugrave</string>
        <string>Ucircumflex</string>
      </array>
      <key>public.kern2.W</key>
      <array>
        <string>W</string>
      </array>
      <key>public.kern2.X</key>
      <array>
        <string>X</string>
      </array>
      <key>public.kern2.Y</key>
      <array>
        <string>Y</string>
      </array>
      <key>public.kern2.Z</key>
      <array>
        <string>Z</string>
      </array>
      <key>public.kern2.a</key>
      <array>
        <string>a</string>
        <string>aacute</string>
        <string>adotaccent</string>
        <string>agrave</string>
        <string>acircumflex</string>
      </array>
      <key>public.kern2.ampersand</key>
      <array>
        <string>ampersand</string>
      </array>
      <key>public.kern2.asterisk</key>
      <array>
        <string>asterisk</string>
      </array>
      <key>public.kern2.b</key>
      <array>
        <string>b</string>
        <string>p</string>
      </array>
      <key>public.kern2.backslash</key>
      <array>
        <string>backslash</string>
      </array>
      <key>public.kern2.braceright</key>
      <array>
        <string>braceright</string>
      </array>
      <key>public.kern2.bracketright</key>
      <array>
        <string>bracketright</string>
      </array>
      <key>public.kern2.bullet</key>
      <array>
        <string>bullet</string>
      </array>
      <key>public.kern2.c</key>
      <array>
        <string>c</string>
      </array>
      <key>public.kern2.comma</key>
      <array>
        <string>comma</string>
      </array>
      <key>public.kern2.d</key>
      <array>
        <string>d</string>
      </array>
      <key>public.kern2.dagger</key>
      <array>
        <string>dagger</string>
        <string>daggerdbl</string>
      </array>
      <key>public.kern2.e</key>
      <array>
        <string>e</string>
        <string>eacute</string>
        <string>edotaccent</string>
        <string>egrave</string>
        <string>ecircumflex</string>
      </array>
      <key>public.kern2.eight</key>
      <array>
        <string>eight</string>
      </array>
      <key>public.kern2.exclam</key>
      <array>
        <string>exclam</string>
      </array>
      <key>public.kern2.f</key>
      <array>
        <string>f</string>
      </array>
      <key>public.kern2.five</key>
      <array>
        <string>five</string>
      </array>
      <key>public.kern2.four</key>
      <array>
        <string>four</string>
      </array>
      <key>public.kern2.g</key>
      <array>
        <string>g</string>
      </array>
      <key>public.kern2.guilsinglleft</key>
      <array>
        <string>guilsinglleft</string>
        <string>guillemotleft</string>
      </array>
      <key>public.kern2.guilsinglright</key>
      <array>
        <string>guilsinglright</string>
        <string>guillemotright</string>
      </array>
      <key>public.kern2.h</key>
      <array>
        <string>h</string>
        <string>r</string>
        <string>x</string>
        <string>z</string>
      </array>
      <key>public.kern2.hyphen</key>
      <array>
        <string>hyphen</string>
        <string>endash</string>
        <string>emdash</string>
      </array>
      <key>public.kern2.i</key>
      <array>
        <string>i</string>
        <string>iacute</string>
        <string>idotaccent</string>
        <string>igrave</string>
        <string>icircumflex</string>
      </array>
      <key>public.kern2.j</key>
      <array>
        <string>j</string>
      </array>
      <key>public.kern2.k</key>
      <array>
        <string>k</string>
      </array>
      <key>public.kern2.l</key>
      <array>
        <string>l</string>
      </array>
      <key>public.kern2.m</key>
      <array>
        <string>m</string>
      </array>
      <key>public.kern2.n</key>
      <array>
        <string>n</string>
      </array>
      <key>public.kern2.nine</key>
      <array>
        <string>nine</string>
      </array>
      <key>public.kern2.o</key>
      <array>
        <string>o</string>
        <string>oacute</string>
        <string>odotaccent</string>
        <string>ograve</string>
        <string>ocircumflex</string>
      </array>
      <key>public.kern2.one</key>
      <array>
        <string>one</string>
      </array>
      <key>public.kern2.parenright</key>
      <array>
        <string>parenright</string>
      </array>
      <key>public.kern2.percent</key>
      <array>
        <string>percent</string>
        <string>perthousand</string>
      </array>
      <key>public.kern2.period</key>
      <array>
        <string>period</string>
      </array>
      <key>public.kern2.question</key>
      <array>
        <string>question</string>
      </array>
      <key>public.kern2.quoteleft</key>
      <array>
        <string>quoteleft</string>
        <string>quotedblleft</string>
      </array>
      <key>public.kern2.quoteright</key>
      <array>
        <string>quoteright</string>
        <string>quotedblright</string>
      </array>
      <key>public.kern2.quotesinglbase</key>
      <array>
        <string>quotesinglbase</string>
      </array>
      <key>public.kern2.quotesingle</key>
      <array>
        <string>quotesingle</string>
        <string>quotedbl</string>
      </array>
      <key>public.kern2.s</key>
      <array>
        <string>s</string>
      </array>
      <key>public.kern2.semicolon</key>
      <array>
        <string>semicolon</string>
        <string>colon</string>
      </array>
      <key>public.kern2.seven</key>
      <array>
        <string>seven</string>
      </array>
      <key>public.kern2.slash</key>
      <array>
        <string>slash</string>
      </array>
      <key>public.kern2.space</key>
      <array>
        <string>space</string>
      </array>
      <key>public.kern2.t</key>
      <array>
        <string>t</string>
      </array>
      <key>public.kern2.three</key>
      <array>
        <string>three</string>
      </array>
      <key>public.kern2.trademark</key>
      <array>
        <string>trademark</string>
      </array>
      <key>public.kern2.two</key>
      <array>
        <string>two</string>
      </array>
      <key>public.kern2.u</key>
      <array>
        <string>u</string>
        <string>uacute</string>
        <string>udotaccent</string>
        <string>ugrave</string>
        <string>ucircumflex</string>
      </array>
      <key>public.kern2.w</key>
      <array>
        <string>w</string>
      </array>
      <key>public.kern2.y</key>
      <array>
        <string>y</string>
      </array>
      <key>public.kern2.zero</key>
      <array>
        <string>zero</string>
        <string>six</string>
      </array>
    </dict>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3065</string>
  <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
  <dict>
    <key>XXXX</key>
    <dict>
      <key>0</key>
      <integer>0</integer>
    </dict>
    <key>wdth</key>
    <dict>
      <key>100</key>
      <integer>100</integer>
    </dict>
    <key>wght</key>
    <dict>
      <key>400</key>
      <integer>400</integer>
      <key>700</key>
      <integer>700</integer>
    </dict>
  </dict>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>a</string>
    <string>b</string>
    <string>period</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>grave</string>
    <string>acute</string>
    <string>G</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>macron</string>
    <string>dotaccent</string>
    <string>D</string>
    <string>comma</string>
    <string>semicolon</string>
    <string>colon</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bar</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>plus</string>
    <string>minus</string>
    <string>divide</string>
    <string>Aacute</string>
    <string>Adotaccent</string>
    <string>aacute</string>
    <string>adotaccent</string>
    <string>Eacute</string>
    <string>Edotaccent</string>
    <string>iacute</string>
    <string>idotaccent</string>
    <string>Oacute</string>
    <string>Odotaccent</string>
    <string>Iacute</string>
    <string>Idotaccent</string>
    <string>Uacute</string>
    <string>Udotaccent</string>
    <string>oacute</string>
    <string>odotaccent</string>
    <string>eacute</string>
    <string>edotaccent</string>
    <string>uacute</string>
    <string>udotaccent</string>
    <string>paragraph</string>
    <string>equal</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>question</string>
    <string>exclam</string>
    <string>cent</string>
    <string>section</string>
    <string>registered</string>
    <string>copyright</string>
    <string>yen</string>
    <string>sterling</string>
    <string>dollar</string>
    <string>percent</string>
    <string>bullet</string>
    <string>numbersign</string>
    <string>less</string>
    <string>greater</string>
    <string>multiply</string>
    <string>degree</string>
    <string>slash</string>
    <string>ampersand</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>trademark</string>
    <string>perthousand</string>
    <string>Euro</string>
    <string>florin</string>
    <string>quotesinglbase</string>
    <string>asterisk</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>fraction</string>
    <string>quoteright</string>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>ellipsis</string>
    <string>plusminus</string>
    <string>backslash</string>
    <string>underscore</string>
    <string>at</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>A</string>
    <string>Agrave</string>
    <string>agrave</string>
    <string>Egrave</string>
    <string>egrave</string>
    <string>Igrave</string>
    <string>igrave</string>
    <string>Ograve</string>
    <string>ograve</string>
    <string>Ugrave</string>
    <string>ugrave</string>
    <string>Ecircumflex</string>
    <string>approxequal</string>
    <string>germandbls</string>
    <string>acircumflex</string>
    <string>Ocircumflex</string>
    <string>Ucircumflex</string>
    <string>Icircumflex</string>
    <string>ucircumflex</string>
    <string>ocircumflex</string>
    <string>Acircumflex</string>
    <string>icircumflex</string>
    <string>ecircumflex</string>
    <string>B</string>
    <string>C</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Adotaccent</key>
    <string>uni0226</string>
    <key>Odotaccent</key>
    <string>uni022E</string>
    <key>adotaccent</key>
    <string>uni0227</string>
    <key>idotaccent</key>
    <string>i.loclTRK</string>
    <key>odotaccent</key>
    <string>uni022F</string>
  </dict>
</dict>
</plist>
