<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3124</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/Oi-beria/Oi_acute-beria/oi-beria.alt/Erri-beria/erri-beria/erri-2-beria/chei-beria.alt/Erri-beria/Erri-2-beria</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Beria New Regular: 2021</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Ay-beria</string>
    <string>Ay_acute-beria</string>
    <string>Ay_grave-beria</string>
    <string>Ay_macron-beria</string>
    <string>ay-beria</string>
    <string>ay_acute-beria</string>
    <string>ay_grave-beria</string>
    <string>ay_macron-beria</string>
    <string>Ay-beria.alt</string>
    <string>ay-beria.alt</string>
    <string>Bay-beria</string>
    <string>bay-beria</string>
    <string>bay-beria.alt</string>
    <string>Tchay-beria</string>
    <string>tchay-beria</string>
    <string>Day-beria</string>
    <string>day-beria</string>
    <string>day-beria.alt</string>
    <string>Ey-beria</string>
    <string>Ey_acute-beria</string>
    <string>Ey_grave-beria</string>
    <string>Ey_macron-beria</string>
    <string>Ey_dot-beria</string>
    <string>ey-beria</string>
    <string>ey_acute-beria</string>
    <string>ey_grave-beria</string>
    <string>ey_macron-beria</string>
    <string>ey_dot-beria</string>
    <string>Ey-beria.alt</string>
    <string>ey-beria.alt</string>
    <string>Archi-beria</string>
    <string>archi-beria</string>
    <string>Effi-beria</string>
    <string>effi-beria</string>
    <string>Effi-beria.alt</string>
    <string>Gay-beria</string>
    <string>gay-beria</string>
    <string>gay-beria.alt</string>
    <string>Hay-beria</string>
    <string>hay-beria</string>
    <string>Hiyi-beria</string>
    <string>hiyi-beria</string>
    <string>Iyi-beria</string>
    <string>Iyi_acute-beria</string>
    <string>Iyi_grave-beria</string>
    <string>Iyi_macron-beria</string>
    <string>Iyi_dot-beria</string>
    <string>iyi-beria</string>
    <string>iyi_acute-beria</string>
    <string>iyi_grave-beria</string>
    <string>iyi_macron-beria</string>
    <string>Iyi-beria.alt</string>
    <string>Iya-beria</string>
    <string>iya-beria</string>
    <string>Djay-beria</string>
    <string>djay-beria</string>
    <string>djay-beria.alt</string>
    <string>Key-beria</string>
    <string>key-beria</string>
    <string>Key-beria.alt</string>
    <string>key-beria.alt</string>
    <string>Elli-beria</string>
    <string>elli-beria</string>
    <string>Elli-beria.alt</string>
    <string>elli-beria.alt</string>
    <string>Emmi-beria</string>
    <string>emimi-beria</string>
    <string>emimi-beria.alt</string>
    <string>Enni-beria</string>
    <string>enni-beria</string>
    <string>enni-beria.alt</string>
    <string>Oi-beria</string>
    <string>Oi_acute-beria</string>
    <string>Oi_grave-beria</string>
    <string>Oi_macron-beria</string>
    <string>oi-beria</string>
    <string>oi_acute-beria</string>
    <string>oi_grave-beria</string>
    <string>oi_macron-beria</string>
    <string>oi-beria.alt</string>
    <string>Pi-beria</string>
    <string>pi-beria</string>
    <string>Erri-beria</string>
    <string>erri-beria</string>
    <string>Erri-2-beria</string>
    <string>erri-2-beria</string>
    <string>Essi-beria</string>
    <string>essi-beria</string>
    <string>Chei-beria</string>
    <string>chei-beria</string>
    <string>Chei-beria.alt</string>
    <string>chei-beria.alt</string>
    <string>Shep-beria</string>
    <string>shep-beria</string>
    <string>Shep-beria.alt</string>
    <string>shep-beria.alt</string>
    <string>Tai-beria</string>
    <string>tai-beria</string>
    <string>Way-beria</string>
    <string>way-beria</string>
    <string>Nay-beria</string>
    <string>nay-beria</string>
    <string>Gna-beria</string>
    <string>gna-beria</string>
    <string>gna-beria.alt</string>
    <string>Yay-beria</string>
    <string>Yay_dot-beria</string>
    <string>yay-beria</string>
    <string>yay_dot-beria</string>
    <string>Uy-beria</string>
    <string>Uy_acute-beria</string>
    <string>Uy_grave-beria</string>
    <string>Uy_macron-beria</string>
    <string>uy-beria</string>
    <string>uy_acute-beria</string>
    <string>uy_grave-beria</string>
    <string>uy_macron-beria</string>
    <string>Khay-beria</string>
    <string>khay-beria</string>
    <string>Zay-beria</string>
    <string>zay-beria</string>
    <string>zero-beria</string>
    <string>one-beria</string>
    <string>two-beria</string>
    <string>three-beria</string>
    <string>four-beria</string>
    <string>five-beria</string>
    <string>six-beria</string>
    <string>seven-beria</string>
    <string>eight-beria</string>
    <string>nine-beria</string>
    <string>circumflex-beria</string>
    <string>dieresis-beria</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>cent</string>
    <string>sterling</string>
    <string>yen</string>
    <string>section</string>
    <string>copyright</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>registered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>paragraph</string>
    <string>guillemotright</string>
    <string>multiply</string>
    <string>divide</string>
    <string>florin</string>
    <string>grave-beria</string>
    <string>acute-beria</string>
    <string>macron-beria</string>
    <string>dot-beria</string>
    <string>ZWSP</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>uni2060</string>
    <string>Euro</string>
    <string>trademark</string>
    <string>minus</string>
    <string>approxequal</string>
    <string>ZWNBS</string>
    <string>placeholder</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Archi-beria</key>
    <string>uniE318</string>
    <key>Ay-beria</key>
    <string>uniE300</string>
    <key>Ay-beria.alt</key>
    <string>uniE400</string>
    <key>Ay_acute-beria</key>
    <string>uniE302</string>
    <key>Ay_grave-beria</key>
    <string>uniE304</string>
    <key>Ay_macron-beria</key>
    <string>uniE306</string>
    <key>Bay-beria</key>
    <string>uniE308</string>
    <key>Chei-beria</key>
    <string>uniE348</string>
    <key>Chei-beria.alt</key>
    <string>uniE448</string>
    <key>Day-beria</key>
    <string>uniE30C</string>
    <key>Djay-beria</key>
    <string>uniE32E</string>
    <key>Effi-beria</key>
    <string>uniE31A</string>
    <key>Effi-beria.alt</key>
    <string>uniE41A</string>
    <key>Elli-beria</key>
    <string>uniE332</string>
    <key>Elli-beria.alt</key>
    <string>uniE432</string>
    <key>Emmi-beria</key>
    <string>uniE334</string>
    <key>Enni-beria</key>
    <string>uniE336</string>
    <key>Erri-2-beria</key>
    <string>uniE344</string>
    <key>Erri-beria</key>
    <string>uniE342</string>
    <key>Essi-beria</key>
    <string>uniE346</string>
    <key>Ey-beria</key>
    <string>uniE30E</string>
    <key>Ey-beria.alt</key>
    <string>uniE40E</string>
    <key>Ey_acute-beria</key>
    <string>uniE310</string>
    <key>Ey_dot-beria</key>
    <string>uniE316</string>
    <key>Ey_grave-beria</key>
    <string>uniE312</string>
    <key>Ey_macron-beria</key>
    <string>uniE314</string>
    <key>Gay-beria</key>
    <string>uniE31C</string>
    <key>Gna-beria</key>
    <string>uniE352</string>
    <key>Hay-beria</key>
    <string>uniE31E</string>
    <key>Hiyi-beria</key>
    <string>uniE320</string>
    <key>Iya-beria</key>
    <string>uniE32C</string>
    <key>Iyi-beria</key>
    <string>uniE322</string>
    <key>Iyi-beria.alt</key>
    <string>uniE422</string>
    <key>Iyi_acute-beria</key>
    <string>uniE324</string>
    <key>Iyi_dot-beria</key>
    <string>uniE32A</string>
    <key>Iyi_grave-beria</key>
    <string>uniE326</string>
    <key>Iyi_macron-beria</key>
    <string>uniE328</string>
    <key>Key-beria</key>
    <string>uniE330</string>
    <key>Key-beria.alt</key>
    <string>uniE430</string>
    <key>Khay-beria</key>
    <string>uniE360</string>
    <key>Nay-beria</key>
    <string>uniE350</string>
    <key>Oi-beria</key>
    <string>uniE338</string>
    <key>Oi_acute-beria</key>
    <string>uniE33A</string>
    <key>Oi_grave-beria</key>
    <string>uniE33C</string>
    <key>Oi_macron-beria</key>
    <string>uniE33E</string>
    <key>Pi-beria</key>
    <string>uniE340</string>
    <key>Shep-beria</key>
    <string>uniE34A</string>
    <key>Shep-beria.alt</key>
    <string>uniE44A</string>
    <key>Tai-beria</key>
    <string>uniE34C</string>
    <key>Tchay-beria</key>
    <string>uniE30A</string>
    <key>Uy-beria</key>
    <string>uniE358</string>
    <key>Uy_acute-beria</key>
    <string>uniE35A</string>
    <key>Uy_grave-beria</key>
    <string>uniE35C</string>
    <key>Uy_macron-beria</key>
    <string>uniE35E</string>
    <key>Way-beria</key>
    <string>uniE34E</string>
    <key>Yay-beria</key>
    <string>uniE354</string>
    <key>Yay_dot-beria</key>
    <string>uniE356</string>
    <key>ZWNBS</key>
    <string>uniFEFF</string>
    <key>Zay-beria</key>
    <string>uniE362</string>
    <key>acute-beria</key>
    <string>acutecomb</string>
    <key>archi-beria</key>
    <string>uniE319</string>
    <key>ay-beria</key>
    <string>uniE301</string>
    <key>ay-beria.alt</key>
    <string>uniE401</string>
    <key>ay_acute-beria</key>
    <string>uniE303</string>
    <key>ay_grave-beria</key>
    <string>uniE305</string>
    <key>ay_macron-beria</key>
    <string>uniE307</string>
    <key>bay-beria</key>
    <string>uniE309</string>
    <key>bay-beria.alt</key>
    <string>uniE409</string>
    <key>chei-beria</key>
    <string>uniE349</string>
    <key>chei-beria.alt</key>
    <string>uniE449</string>
    <key>circumflex-beria</key>
    <string>uni0302</string>
    <key>day-beria</key>
    <string>uniE30D</string>
    <key>day-beria.alt</key>
    <string>uniE40D</string>
    <key>dieresis-beria</key>
    <string>uni0308</string>
    <key>djay-beria</key>
    <string>uniE32F</string>
    <key>djay-beria.alt</key>
    <string>uniE42F</string>
    <key>dot-beria</key>
    <string>uni0307</string>
    <key>effi-beria</key>
    <string>uniE31B</string>
    <key>eight-beria</key>
    <string>uniE378</string>
    <key>elli-beria</key>
    <string>uniE333</string>
    <key>elli-beria.alt</key>
    <string>uniE433</string>
    <key>emimi-beria</key>
    <string>uniE335</string>
    <key>emimi-beria.alt</key>
    <string>uniE435</string>
    <key>enni-beria</key>
    <string>uniE337</string>
    <key>enni-beria.alt</key>
    <string>uniE437</string>
    <key>erri-2-beria</key>
    <string>uniE345</string>
    <key>erri-beria</key>
    <string>uniE343</string>
    <key>essi-beria</key>
    <string>uniE347</string>
    <key>ey-beria</key>
    <string>uniE30F</string>
    <key>ey-beria.alt</key>
    <string>uniE40F</string>
    <key>ey_acute-beria</key>
    <string>uniE311</string>
    <key>ey_dot-beria</key>
    <string>uniE317</string>
    <key>ey_grave-beria</key>
    <string>uniE313</string>
    <key>ey_macron-beria</key>
    <string>uniE315</string>
    <key>five-beria</key>
    <string>uniE375</string>
    <key>four-beria</key>
    <string>uniE374</string>
    <key>gay-beria</key>
    <string>uniE31D</string>
    <key>gay-beria.alt</key>
    <string>uniE41D</string>
    <key>gna-beria</key>
    <string>uniE353</string>
    <key>gna-beria.alt</key>
    <string>uniE453</string>
    <key>grave-beria</key>
    <string>gravecomb</string>
    <key>hay-beria</key>
    <string>uniE31F</string>
    <key>hiyi-beria</key>
    <string>uniE321</string>
    <key>iya-beria</key>
    <string>uniE32D</string>
    <key>iyi-beria</key>
    <string>uniE323</string>
    <key>iyi_acute-beria</key>
    <string>uniE325</string>
    <key>iyi_grave-beria</key>
    <string>uniE327</string>
    <key>iyi_macron-beria</key>
    <string>uniE329</string>
    <key>key-beria</key>
    <string>uniE331</string>
    <key>key-beria.alt</key>
    <string>uniE431</string>
    <key>khay-beria</key>
    <string>uniE361</string>
    <key>macron-beria</key>
    <string>uni0304</string>
    <key>nay-beria</key>
    <string>uniE351</string>
    <key>nine-beria</key>
    <string>uniE379</string>
    <key>oi-beria</key>
    <string>uniE339</string>
    <key>oi-beria.alt</key>
    <string>uniE439</string>
    <key>oi_acute-beria</key>
    <string>uniE33B</string>
    <key>oi_grave-beria</key>
    <string>uniE33D</string>
    <key>oi_macron-beria</key>
    <string>uniE33F</string>
    <key>one-beria</key>
    <string>uniE371</string>
    <key>pi-beria</key>
    <string>uniE341</string>
    <key>seven-beria</key>
    <string>uniE377</string>
    <key>shep-beria</key>
    <string>uniE34B</string>
    <key>shep-beria.alt</key>
    <string>uniE44B</string>
    <key>six-beria</key>
    <string>uniE376</string>
    <key>tai-beria</key>
    <string>uniE34D</string>
    <key>tchay-beria</key>
    <string>uniE30B</string>
    <key>three-beria</key>
    <string>uniE373</string>
    <key>two-beria</key>
    <string>uniE372</string>
    <key>uy-beria</key>
    <string>uniE359</string>
    <key>uy_acute-beria</key>
    <string>uniE35B</string>
    <key>uy_grave-beria</key>
    <string>uniE35D</string>
    <key>uy_macron-beria</key>
    <string>uniE35F</string>
    <key>way-beria</key>
    <string>uniE34F</string>
    <key>yay-beria</key>
    <string>uniE355</string>
    <key>yay_dot-beria</key>
    <string>uniE357</string>
    <key>zay-beria</key>
    <string>uniE363</string>
    <key>zero-beria</key>
    <string>uniE370</string>
  </dict>
</dict>
</plist>
